namespace: brightmove
dockerImageName: brightmove-ax-legacy
springProfiles: prod
env: prod
jvmHeapInit: 4g
jvmHeapMax: 4g
replicaCount: 2
atsMaxActive: 150
atsPassword: ats4prod1pass
atsUrl: jdbc:oracle:thin:@prod.oracle.brightmove.com:1521:BMP1
atsUser: ats
quartzPassword: ats_quartz4prod1pass
quartzUrl: jdbc:oracle:thin:@prod.oracle.brightmove.com:1521:BMP1
quartzUser: ats_quartz
memcached:
  cluster:
    discovery:
      endpoint: tomcat-sessions-prod.fsaqmz.cfg.use1.cache.amazonaws.com:11211
  sessionManager:
    className: de.javakaffee.web.msm.MemcachedBackupSessionManager
msm:
  kryo:
    bufferSize:
      max: 5242880
driverClassName: oracle.jdbc.driver.OracleDriver
validationQuery: SELECT 1 FROM DUAL
xaDsType: oracle.jdbc.xa.client.OracleXADataSource
xaDsFactory: oracle.jdbc.pool.OracleDataSourceFactory